# OpenAI secrets
OPENAI_API_KEY = ""

# Astra DB secrets
ASTRA_ENDPOINT = ""
ASTRA_TOKEN = ""

# Optionally: LangSmith secrets for tracing
LANGCHAIN_TRACING_V2 = "true"
LANGCHAIN_ENDPOINT = ""
LANGCHAIN_API_KEY = ""
LANGCHAIN_PROJECT = ""

[passwords]
# Follow the rule: username = "password"
# Where username defines the Astra Vector Table and the rails.csv experience
postnl = ""
datastax = ""

[languages]
# Follow the rule: username = "localization_code"
# Where localization_code defines the language from localization.csv
postnl = "nl_NL"
datastax = "en_US"

[delete_option]
# Follow the rule: username = "delete_option"
# Where delete_option = True allows the 'Delete Context' button to be shown for that username
datastax = "True"